name: flutter_background
description: A plugin to keep flutter apps running in the background.
version: 1.2.0
repository: https://github.com/JulianAssmann/flutter_background
homepage: https://julianassmann.de/

environment:
  sdk: ">=2.17.6 <3.0.0"
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  plugin:
    platforms:
      android:
        package: de.julianassmann.flutter_background
        pluginClass: FlutterBackgroundPlugin
